.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: gray;
  color: white;
  font-family: "Exo 2", sans-serif;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.right-side-nav {
    display: flex;
    margin-right: 50px;
}

.currentWeek {
    margin-right: 20px;
}
